/* 
  .card {
    margin: 5%;
    flex-direction: row;
  }
  .card-body {
    padding: 0.5em 1em;
  }
  .card1{
        height: 15% !important;
  }
  .card1 img {
    max-width: 14em;
    height: 100%;
    width: 100%;
    border-bottom-left-radius: calc(0.25rem - 1px);
    border-top-left-radius: calc(0.25rem - 1px);
  } */

  /* .card1{
    height: 5%;
  } */
  
  